<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishUrl>https://trackcare-api.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://trackcare-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/SEU_SUBSCRIPTION_ID/resourceGroups/trackcare-rg/providers/Microsoft.Web/sites/trackcare-api</ResourceId>
    <UserName>SEU_USER</UserName>
    <Password>SEU_PASSWORD</Password>
  </PropertyGroup>
  <ItemGroup>
    <EnvironmentVariables>
      <EnvironmentVariable name="DB_CONNECTION_STRING" value="postgresql://postgres:ewcldebtsrjfdkckvqin@db.ewcldebtsrjfdkckvqin.supabase.co:5432/postgres" />
      <EnvironmentVariable name="SUPABASE_URL" value="https://ewcldebtsrjfdkckvqin.supabase.co" />
      <EnvironmentVariable name="SUPABASE_KEY" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3Y2xkZWJ0c3JqZmRrY2t2cWluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4MTcxNzksImV4cCI6MjA5NDM5MzE3OX0.PhQPmhTrhNMGRLEtrOBAc-9heIf451rKkL0KzPu7r4s" />
      <EnvironmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
    </EnvironmentVariables>
  </ItemGroup>
</Project>
